.page-container[data-v-1bc19317]{width:100%;border-radius:4px;padding:50px 0;height:100vh}.page-container .text-center h1[data-v-1bc19317]{color:#666;padding:20px 0}.page-container img[data-v-1bc19317]{width:350px;margin:0 auto}
